html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======================== */

@media screen and (max-width: 1000px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: black;
    padding: 0;
}
.links {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 10px;
}
.link {
  list-style-type: none;
}
.link a{
  padding: 0 10px;
  color: #ACA592;
  font-family: Old Standard TT;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  font-size: 11px;
  line-height: 24px;
}
.Atelier a{
  padding: 0 15px 0 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  color: #FFAE2B;
}
.Overview a{
  color: #FFAE2B;
}
.header__button {
    margin: 0 20px 0 0;
    width: 147px;
    height: 52px;
    color: #FFAE2B;
    background-color: black;
    border: #FFAE2B solid 1px;
    font-family: Old Standard TT;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

/* ================= section__face ================= */
}
@media screen and (max-width: 674px){
  .ellipsis_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 36px;
    height: 10px;
  }
  .ellips{
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 100%;
    box-shadow: inset 0px 0px 0px 1.5px #FFAE2B;
  }
  .link {
    display: none;
    list-style-type: none;
  }
  .Atelier{
    display: block;
  }
  .mobile_links{
    position: absolute;
    top: 60px;
    left: 75px;
    width: 100px;
    height: 120px;
    display: none;
    flex-direction: column;
    align-items: left;
    border: #FFAE2B solid 2px;
    background-color: #000000;
  }
  .active{
   display: flex;
  }
  .mobile_links li{
    display: block;
  }
}

/* ================= section__TemplatePages =================*/

@media screen and (max-width: 1350px){
  .slide {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    place-items: center;
  }
}
@media screen and (max-width: 1200px){
}

@media screen and (max-width: 1150px){
  .section__TemplatePages_pages {
    overflow: hidden;
  }
  .slide{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1150px;
    padding: 0 20px;
  }
  .page{
  }
  .page:first-child{
  }
  .page:last-child{
  }
  .prev{
    position: absolute;
    left: 10px;
    color: #FFAE2B;
  }
  .next{
    position: absolute;
    color: #FFAE2B;
    right: 10px;
  }
  .section__Services_services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px 0 10px;
    padding: 0;
    max-width: 1200px;
  }
}

@media screen and (max-width: 780px){

}
